<a href="https://colab.research.google.com/github/joshnn/sake_project/blob/main/20230505/wb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
df = pd.read_csv('sample_data/titanic.csv')

In [7]:
df

,title,tags,subject,date,likes,comment1
0,ビデオ1,titanic,タイトル1,2023-05-01 10:00:00,100,タイタニックについての映画1
1,ビデオ2,titanic,タイトル2,2023-05-01 11:00:00,100,タイタニックについての映画2
2,ビデオ3,titanic,タイトル3,2023-05-01 12:00:00,100,タイタニックについての映画3
3,ビデオ4,titanic,タイトル4,2023-05-01 13:00:00,100,タイタニックについての映画4
4,ビデオ1,inception,タイトル1,2023-05-01 10:00:00,100,inceptionについての映画1
5,ビデオ2,inception,タイトル2,2023-05-01 11:00:00,100,inceptionについての映画2
6,ビデオ3,inception,タイトル3,2023-05-01 12:00:00,100,inceptionについての映画3
7,ビデオ4,titinceptionanic,タイトル4,2023-05-01 13:00:00,100,inceptionについての映画4

In [11]:
import csv
from collections import defaultdict
tag_video_map = defaultdict(list) 
with open('sample_data/titanic.csv') as f:
  header = True
  for l in f:
    if header:
      header = False
      continue
    cols = l.split(',')
    tag = cols[1]
    #print(cols[1])
    tag_video_map[tag].append(cols[0])
    
tag_video_map

defaultdict(list,
            {'titanic': ['ビデオ1', 'ビデオ2', 'ビデオ3', 'ビデオ4'],
             'inception': ['ビデオ1', 'ビデオ2', 'ビデオ3'],
             'titinceptionanic': ['ビデオ4']})

In [12]:
def process_movie(summary):
  """
  次のアウトプットを作る
  (media_id, title, likes, コメントのうち上位１０件)
  """
  pass

def process_tv_drama(summary):
  """  
  次のアウトプットを作る
  (media_id, title, likes, コメントのうち上位１０件)
  """
  pass

In [ ]:
# コメントの数を横断的に分析したい
# テーマ、メディアごとに出てくるサマリーの形が異なるのでそれを統合的に扱いたい

# Pythonで各テーマ別のビデオの詳細データをスクレイピングする
# titanicの内容に関するスクレイピング処理
# 映画用のスクレイピング処理
  
# inceptionはドラマ
# TVドラマのスクレイピング処理

ret_movie = []
ret_tv_drama = []
for tag in tag_video_map:
  if tag in ['titanic']:  #映画の場合の処理
    ret_movie.appnend(process_movie(tag_video_map[tag]))
  elif tag in ['inception']:
    ret_tv_drama.append(process_tv_drama(tag_video_map[tag]))
  else:
    #処理できない場合何もしない
    pass
  
normalized_data = {
    'movie': ret_movie,
    'tv_drama': ret_tv_drama,
}
# normalized_dataはすべて同じ形をしたデータになっている
# (media_id, title, likes, コメントのうち上位１０件: list[str)])

In [ ]:
import tokenizer

# 正規化されたデータに対する処理
# コメントの上位に来たものに含まれる単語を形態素解析して辞書を作る
def run_tokenize(comments):
  token_processed = []
  # 形態素解析エンジンにコメントを一つずつ渡して処理結果を集計する  
  for c in comments:
    token_processed.append(tokenizer.tokenize(c))
  return token_processed

# 映画単位でコメントに含まれる固有名詞のリストと頻度を取得する
tokens_by_movie_title = {}
for media_id, title, likes, comments in normalized_data['movie']:
  tokens_by_movie_title[title] = run_tokenize(comments) 

# 出来上がったデータ
# token_by_movie_title
# {
#    'titanic': {'Leonard': 100, 'Actress': 30, ... }   
# }